* { font-family:Tahoma, Geneva, sans-serif; }

a { text-decoration:none; }
ul { margin:0; }
li { list-style:none; }

header { width:940px; margin:0 auto 20px; padding:10px 0; }
header a { display:block; color:#333; margin-top:5px; margin-bottom:5px; }
header a:hover { text-decoration:none; }
header .logo { float:left; font-wight:bold; font-size:1.5em; margin-right:15px; }
header ul { height:38px; }
header ul li { float:left; margin-right:15px; margin-top:2px; list-style:none; }
header ul li a { padding-left:15px; border-left:1px solid #ccc; }

#content { width:950px; min-height:550px; margin-left:auto; margin-right:auto; margin-bottom:18px; border-radius:5px; box-shadow:0 0 20px #ccc; }

.tabs { height:24px; border-bottom:1px solid #f1f1f1; margin-right:4px; }
.tabs ul li { color:#999; float:left; width:50px; text-align:center; padding:3px 5px; border:1px solid #e1e1e1; border-top-right-radius:8px; border-bottom:none; background-color:#fcfcfc; cursor:pointer; }
.tabs ul li.current { color:#333; border-bottom:1px solid #fff; text-shadow:#555 0.1em 0.1em 0.1em; background-color:#fff; cursor:auto; }
#content .tabscontent { clear:both; padding-left:10px; padding-bottom:10px; box-shadow:10px 15px 10px #808080; background-color:#fff; }
#content .tabscontent { border:1px solid #e1e1e1;border-top:none; border-top-right-radius:7px; border-bottom-left-radius:7px; border-bottom-right-radius:7px; /*margin-top:-1px;*/ }
#content .tabcontent ul li { position:relative; display:inline-block; min-width:50px; height:30px; padding:0 5px 5px 0; font-size:8px; }
#content .tabcontent span.c { position:absolute; bottom:0; left:0; width:40px; height:30px; box-shadow:2px 2px 2px #808080; cursor:pointer; }
#content .tabcontent ul li.selected span.c { box-shadow:4px 4px 4px #606060; width:43px; height:32px; }
#content li.selected span.shirt, #content li.selected span.tie { text-shadow:#000 0.1em 0.1em 0.2em; color:#fff; font-size:1.9em; line-height:2em; }
#content .tabcontent ul li.selected span.shirt:before { content:"S"; margin-left:10px; }
#content .tabcontent ul li.selected span.tie:after { content:"T"; float:right; margin-right:10px; }

#content section { float:left; margin-right:50px; margin-top:25px; }
#content .cat { }
#content .colors { }


#catbubble { position:relative; width:498px; height:60px; border:2px groove #eee; border-radius:7px; padding:10px; background-color:#fff; }
#catbubble p { font-size:1.2em; text-shadow:1px 1px 1px #717171; }
#catbubble .nk_arrow_outer { position:absolute; bottom:-12px; border-width:12px 12px 0; border-color:#aaa transparent; border-style:solid; left:10px; }
#catbubble .nk_arrow_inner { position:absolute; bottom:-10px; border-width:11px 11px 0; border-color:#fff transparent; border-style:solid; left:11px; }
/* Cat Photo */
#catphoto { position:relative; padding:30px; box-shadow:0 0 7px 0 #c7cccc inset; border:3px double #c7cccc; background-color:#fff; }
#catphoto .cat_bg { position:relative; display:block; width:160px; background-color:#fff; background:-webkit-gradient(linear, 50% 0%, 50% 100%, from(#ffffff), to(#ffffff)); }
/*
#catphoto span.shirt { width:130px; height:130px; display:block; padding:10px 30px; }
#catphoto span.tie { width:130px; height:30px; display:block; padding:0px 50px; } /* class name TODO
#catphoto .cat1 { background:url('/static/images/cat.gif') no-repeat center; }
#catphoto .cat2 { background:url('/static/images/cat2.gif') no-repeat center; }
#catphoto .cat3 { background:url('/static/images/cat3.gif') no-repeat center; }
#catphoto .cat4 { background:url('/static/images/cat4.gif') no-repeat center; }
*/

/* Tie */
#tie_block { position:absolute; top:81px; left:55px; }
#tie_block span { position:absolute; border-style:solid; }
#tie_block .outer { left:-1px; border-color:#888 transparent; }
#tie_block span { border-color:#ffa6c9 transparent; }
#tie_block .tie_top_outer { width:12px; border-width:10px 5px 0 5px; left:4px; }
#tie_block .tie_center_outer { width:12px; height:10px; border-width:0 10px 30px 10px; }
#tie_block .tie_bottom_outer { top:40px; border-width:16px 16px 0 16px; }
#tie_block .tie_top { width:10px; border-width:10px 5px 0 5px; left:5px; }
#tie_block .tie_center { width:10px; height:10px; border-width:0 10px 30px 10px; }
#tie_block .tie_bottom { top:40px; border-width:15px 15px 0 15px; }

/* Color Labels */
.cat .color_label { font-size:11px; text-shadow:1px 1px 1px #ddd; margin-top:10px; margin-left:10px; }
.cat .color_label span { display:inline-block; width:70px; height:20px; font-style:italic; }


/* Carousel */
.cat_carousel { width:500px; }
.cat_carousel .carousel { width:100%; }
.cat_carousel img { height:350px; margin:0 auto; }

footer { width:100%; margin-top:20px; }
footer div { width: 940px; margin:0 auto; padding:20px 0; }

/*bootstrap override*/
header .navbar-inner { border-radius:0; }
.container .hero-unit { background-color:#fafafa; }

/* google +1 */
#nk_gplus { float:right; }