{% load get_config %}
  <div class="logo"><a href="http://{% get_config 'YAWNNEKO_DOMAIN' %}">YawnNeko</a></div>
  <ul>
    <li><a href="/">NyanPage</a></li>
    <li><a href="/photos">Cat Blog</a></li>
  </ul>
